<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form action="/post" method="POST">
    <input type="number" name="account_number" value="" placeholder="accpunt num">
    <input type="text" name="narration" value="" placeholder="naration" >
        <select name="account_bank" >
            <option>select your bank</option>
            <%body.data.forEach(function(data){%>
            <option value="<%=data.code%>" id="bankcode"><%=data.name%></option>
            <%})%>
            </select>
            <input type="number" name="amount" value="" placeholder="amount">
            <button >submit</button>
    </form>
            
    </body>
</html>