
*{
    padding: 0px;
    margin: 0px;
}
#top{
padding: 0px 0px 50px 0px;
}
#headercont{
    display: flex;
    justify-content: flex-end;
    background-color: #666;
    height: 40px;
    /* padding-top: 10px; */
    /* flex-wrap: wrap; */
    padding-right: 40px;
    width: 100%;
    position: fixed;
    z-index: 1;

    
}
.header{
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-left:solid white thin;
    /* border-left: 20px thin black; */
    align-self: center;
    flex-wrap: wrap;
    line-height: 35px;
    
}
.formheader {
    text-align: center;
}

#formcontainer {
    display: flex;
    justify-content: center;
}

#formcont {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
li{
    list-style: none;
}

.input {
    width: 400px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 3px;
    margin-top: 10px;
    border-color: #9e9e9e8a;
    border-radius: 5px;
}

.input3 {
    background-color: #095a9bfc;
    color: white;
    font-size: 20px;
}

li a {
    color: #095a9bfc;
}
#mainreceipt {
    display: flex;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 20px 0px;
    flex-direction: row;
    justify-content: center;
   
    /* justify-content: center; */
}
.head{
    width: 70%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

}
.receipt{
    /* display: flex;*/
    width: 60%; 
    padding: 0px 0px 0px 0px;
     border-radius: 5px;
    /* align-content:space-around; */
    /* flex-direction: column; */
    background-color: rgb(104, 99, 99);

}
.content{
    /* display: flex; */
    padding: 5px 5px 5px 10px;
}